<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title {
            display: flex;
            justify-content: space-between;
        }

        /* body {
            font-family: 'Times New Roman', Times, serif;
            color: blue;
        } */
    </style>
</head>

<body>
    <div style="padding: 3%; font-family: 'Times New Roman', Times, serif; color: blue;">
        <div class="title">
            <div>
                <h3>TỔNG CÔNG TY CỔ PHẦN BƯU CHÍNH VIETTEL</h3>
                <h3 style="text-align: center; color: red;">HỘI ĐỒNG QUẢN TRỊ</h3>
            </div>
            <div>
                <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
                <h3 style="text-align: center;">Độc lập - Tự do - Hạnh phúc</h3>
            </div>
        </div>

        <div>
            <h1 style="text-align: center;">PHỤ LỤC KẾ HOẠCH CÔNG TÁC</h1>
        </div>

        <div>
            <table style="width: 100%;" border="1" cellspacing="0" cellpadding="5">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th></th>
                        <th>Số lượng</th>
                        <th>Hạn mức</th>
                        <th>Chi phí dự tính</th>
                    </tr>
                </thead>
                <tbody>

                    ##table##
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Tổng</td>
                        <td>##total_amount_final##</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div style="display: flex; justify-content: space-around; font-family: 'Times New Roman', Times, serif;">
        <h2>PHỤ TRÁCH ĐƠN VỊ</h2>
        <h2>PHÒNG TÀI CHÍNH</h2>
    </div>
</body>

</html>